:root {
  --color-grey1: #f2f2f2;
  --color-grey2: #717171;
  --color-grey3: #e6e6e6;
  --color-grey4: #383838;
  --color-grey5: #efefef;
  --color-grey6: #7b7b7b;
  --color-primary: #0578c3;
  --color-pass: #61dc00;
  --color-fail: #e0182d;
  --color-pass-light: #e3f6d5;
  --color-fail-light: #fad1d5;
}
